
#header {
    background: linear-gradient(to right, #85b2d3 16%, #ffffff 62%);
}

body {
    min-height: 2000px;
    padding-top: 55px;
}

div#sidebar {
    height: 900px;
    background: #85b2d3;
    padding: 0px 0px 0px 0px;
    overflow-x: scroll;
    /* Old browsers */
    background: -moz-linear-gradient(top, #85b2d3 0%, #ffffff 97%);
    /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #85b2d3), color-stop(97%, #ffffff));
    /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #85b2d3 0%, #ffffff 97%);
    /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #85b2d3 0%, #ffffff 97%);
    /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #85b2d3 0%, #ffffff 97%);
    /* IE10+ */
    background: linear-gradient(to bottom, #85b2d3 0%, #ffffff 97%);
    /* W3C */
}

#sys_logo {
    float: left;
    clear: both;
    width: 200px;
    margin: 13px 0 0px 0px;
    color: aliceblue;
}

#exp_name {
    /*    width: 150px;*/
    /*    float: left;*/
    margin: 13px 20px 0 20px;
    color: aliceblue;
}

#time_display {
    margin: 13px 0 0px 20px;
    /*    width: 150px;*/
    /*    float: left;*/
    color: aliceblue;
}

#simulation_speed {
    margin: 13px 0 0px 0px;
    /*    width: 150px;*/
    /*    float: left;*/
    color: aliceblue;
}

#simulation_buttons_div {
    margin: 8px 15px auto;
}

.progress > .progress-bar-name {
    position: absolute;
    left: 15px;
    font-size: 11pt;
    top: 50%;
    transform: translateY(-50%);
}

.progress > .progress-bar-percent {
    position: absolute;
    right: 15px;
    font-size: 11pt;
    top: 50%;
    transform: translateY(-50%);
}

.progress {
    position: relative;
    margin-bottom: 5px
}

#progresses > .capability {
    height: 36px;
}

#progresses > .requirement {
    height: 29px;
    margin-left: 20px;
}

#progresses > .task {
    height: 22px;
    /*    left: 40px;*/
    margin-left: 40px;
}

.tab-content {
    color: white;
    /*background-color: #428bca;*/
    padding: 5px 15px;
}

svg .title {
    fill: black;
    font: 11px sans-serif;
    font-weight: bold;
    text-anchor: right;
}

path {
    fill: none;
    /*stroke: #42c1f7;*/
    /*stroke: #2a7bf7;*/
    stroke: #267aa3;
    stroke-width: 2;
}

.area {
    fill: #5bc0de;
    stroke-width: 0;
}

.axis path,
.axis line {
    fill: none;
    stroke: #aaaaaa;
    stroke-width: 1;
    shape-rendering: crispEdges;
}

.point {
    stroke: #ffffff;
    fill: #42c1f7;
    stroke-width: 1;
}

.group-tick line {
    stroke: #000;
}

.ribbons {
    fill-opacity: 0.67;
}



/*
    Other Graphs
 */
#other_graphs {
    height: 400px;
    /*    background-color: #d7d7d7;*/
}